NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://viraj90125_db_user:d7E7aj16fxr5uAYS@cluster0.ljtyxyt.mongodb.net/
CLIENT_URL=http://localhost:5173
JWT_ACCESS_SECRET=564yk54ess45ekrt54ke6r5t45r4etrtr1tjt784rtse548457t45e4trt7
JWT_REFRESH_SECRET=b4gg45kh4d3bi38h4784g4uy4784g4848fgf4b4j484b4jgfhjj48bhhf
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_NAME=fastlance_refresh
PLATFORM_COMMISSION_RATE=0.10
PAYMENT_PROVIDER=mock
